# Qdrant
QDRANT_HOST=localhost
QDRANT_PORT=6333

# Embedding Service
MODEL_NAME=sergeyzh/BERTA
MODEL_DIMENSIONS=768

# Loader
ROW_BATCH_SIZE=200
EMBEDDING_BATCH_SIZE=32

# MCP Server
DEFAULT_COLLECTION=metadata_1c
SEARCH_LIMIT=10
MCP_SERVER_PORT=8000

# Parser
# Путь на хосте к папке с XML-выгрузкой конфигурации 1С
CONFIG_HOST_PATH=./Конфигуратор
# Путь внутри контейнера (можно менять через Loader UI)
CONFIG_PATH=/app/Конфигуратор/Prod
